* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: black;
}

#caloriasForm {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: fixed;
    display: block;
}

label {
    display: inline-block;
    font-weight: 700;
    font-size: 13px;
    color: white;
}

.art
{
    display: inline-block;
    font-weight: 700;
    font-size: 10px;
    color: white;
}

input,
select {
    width: 90px;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.cajaSalto
{
    display: inline-block;
}

button:hover {
    background-color: #45a049;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
}

table {
    border: 2px solid #3B3B3B;
    background-color: #3B3B3B;
    border-radius: 0px 0px 20px 20px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
}

td {
    border: 2px solid #3B3B3B;
    text-align: center;
    font-size: 15px;
    width: 0;
    height: 40px;
}

.br0 {
    border: 0;

}

.w0 {
    width: 5px;
}

.wi
{
    width: 25px;
    max-width: 25px;
    min-width: 25px;
}

.h0 {
    height: 5px;
}

.rotate270 {
    transform: rotate(270deg);
    position: relative;
    margin-left: -55px;
    margin-right: -54px;
}

.rotate270 label {
    display: inline-block;
}

tr td svg
{
    width: 30px;
    height: 30px;
}

.green
{
    background-color: #c5ffc8;
}

.yellow
{
    background-color: #fff9c5;
}

.red
{
    background-color: #ffc5c5;
}

.blue
{
    background-color: #c5e4ff;
}

.bordeA
{
    border-top-left-radius: 10px;
}

.bordeB
{
    border-top-right-radius: 10px;
}

.bordeC
{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}